*{
    margin: 3px;
    padding: 10px;
    box-sizing: border-box;
    color: grey;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

a{
    text-decoration: none;
    /* color: grey; -- mejor arriba para que afecte a todos los elementos*/ 
}

a:hover{  /*DUDA: por qué no funciona con .nav a:hover*/
    color: black;
    font-size: 1.5rem;
}

/* colorhunt.co -- composición de colores */
.header{
    background-image: url(../React-S1-nivell-2/images/fons-capçalera.jpg.jpg);
    background-repeat: no-repeat;
    min-height: 200px;
    background-position: center;
    background-size: cover;
    margin-bottom: 20px;
}
    .menu{
        display: flex;
        margin-bottom: 20px;
        height: 100px;
        align-content: center;
    }
        .logo{
            background-image: url(../React-S1-nivell-2/images/logo.png.png);
            background-repeat: no-repeat;
            background-position: center-top;
            background-size: contain;
            flex: 2 1 auto;
        }
        .nav{
            flex: 5 1 auto;
        }
            .nav a{
                color: grey;
                font-size: 1.5vw;
            }
            .nav a:hover{
                color: black;
                font-size: 1.6vw;
            }
        .social{
            flex: 1 1 auto;
        }
            .social a{
                color: grey;
                font-size: 1.5vw;
                position: relative;
                top: -20px;
                right: -20px;
            }
            .social i:hover{
                color: black;
                font-size: 1.6vw;
            }
    .main-text{
        display: flex;
        align-items: center;
        justify-content: center;
    }
        h1{
            font-family: 'Frank Ruhl Libre', serif;
            font-size: 2.5vw;
            color: #FF4848;
            opacity: 0.5;
        }

.section{
    background:lightgrey;
    display: flex;
    margin-bottom: 20px;
}
    .articles{
        background:rgb(221, 219, 219);
        flex: 1 1.7 auto; /*articles actúa como hijo*/
        display: flex; /*articles actúa com padre*/
        flex-flow: row wrap; /*articles actúa com padre*/
    }
        .article {
            flex: 1 1 40%; 
        }
            .article img{ /*ATENCIÓN: cómo hacer img responsive*/
                width: 100%;
                height: auto;
                margin: 0;
                padding: 0;
                border: none;
            }
            .article h2{
                background-color:#FF4848;
                color: lightgray;
                margin: 0px;
                padding: auto;
                border: none;
                vertical-align: text-bottom;/*DUDA!!*/
                text-transform: uppercase;
                font-weight: 700px; /*DUDA!!*/
            }
            .article h3{
                color: lightgray;
                font-size: 1.1rem;
                font-weight: 700px; /*DUDA!!*/
                position: absolute;
                margin-top: -30px;
            }
            .article p{
                font-size: 1.2rem;
                letter-spacing: 2px;
            }
            /* .article a:hover{ -- lo subo arriba
                color: black;
                font-size: 1.5vw;
            } */
        .articles-nav{
            flex: 1 1 100%;
        }
        .articles-nav:hover{
            color: black;
            font-size: 1.5vw;
        }
    .aside{
        background: #FF4848;
        flex: 1 1 auto; /*aside actúa como hijo*/
    }
        .aside img{
            width: 100%;
            height: auto;
        }
        .advertisement{
            background: #FFF47D;
        }
.footer{
    background:lightgrey;
}
    .foot{
        background: #FFD371;
    }

/* ADAPTACIÓ A TABLET */
@media all and (max-width:1024px){
.header{
    min-height: 150px;
}
    .menu{
        display: flex;
    }
        .logo{
            min-width: 30px;
            flex: 2 1 auto;
        }
        .nav{
            flex: 5 1 auto;
            margin: 0px 10px;
            padding: 0px;
        }
            .nav a{
                padding: 0px;
                font-size: 1.9vw;
            }
        .social{
            flex: 1 1 auto;
            position: relative;
            top: -10px;
            right: -40px;
        }
.section{
    flex-flow: column;
}
        .article{
            flex: 1 1 30%;
        }
        .articles-nav{
            flex: 1 1 100%;
        }
}


/* ADAPTACIÓ A TABLET LANDSCAPE*/
@media (max-width:1024px) and (orientation: landscape){
.header{
    min-height: 150px;
}
    .menu{
        display: flex;
    }
        .logo{
            min-width: 40px;
            flex: 2 1 auto;
        }
        .nav{
            flex: 5 1 auto;
            margin: 0px 10px;
            padding: 0px;
        }
            .nav a{
                padding: 0px;
                font-size: 1.9vw;
            }
        .social{
            flex: 1 1 auto;
            position: relative;
            top: -10px;
            right: -40px;
        }
.section{
    flex-flow: column;
}
        .article{
            flex: 1 1 30%;
        }
        .articles-nav{
            flex: 1 1 100%;
        }
}


/* ADAPTACIÓ A MOVIL */
@media all and (max-width:668px){
.header{
    max-height: 250px;
}
    .menu{
        position: relative;
        left: 20px;
        flex-flow: column wrap;
        min-height: 200px;
        align-items: center;
    }
        .logo{
            min-width: 40px;
            position: relative;
            left: 30px;
        }
        .nav a{
            font-size: 2.1vw;
        }
        .main-text h1{
            position: relative;
            top: -50px;
        }
        .social{
            flex: 1 1 auto;
            position: relative;
            top: -10px;
            right: 20px;
        }
    .articles{
        flex-flow: column;
    }
}
@media all and (max-width:620px){
        .nav a{
            font-size: 1.9vw;
        }
        .social{
            flex: 1 1 auto;
            position: relative;
            top: -10px;
            right: 25px;
        }
    .articles{
        flex-flow: column;
    }
}
@media all and (max-width:530px){
        .social{
            flex: 1 1 auto;
            position: relative;
            top: -10px;
            right: 35px;
        }
    .articles{
        flex-flow: column;
    }
}